
{% extends 'common.html' %}
    {% block yash %}
        {% load static %}
        {% include 'main_menu.html' %}
        <script src="{% static 'js/sample.js'%}"></script>

        {% if messages %}
        {% for x in messages %}
            <h3 style="text-align: center; color: fuchsia">
                {{ x }}
            </h3>
        {% endfor %}
    {% endif %}

     <form action="{% url 'student_login_check' %}" method="post">
     {% csrf_token %}
    <table align="center" border="0" width="350" cellpadding="10">
     <tr>
         <th> <img src="{% static 'images/s3.jpg' %}" height="80" width="330"> </th>
     </tr>
        <tr> <th> </th></tr>
    <tr>
        <th>
            <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping"><img src="{% static 'images/user.png' %}" width="20" height="20"></span>
            </div>
            <input class="form-control" type="text" placeholder="User Name" name="t1" required aria-label="Username" aria-describedby="addon-wrapping" >
            </div>
        </th>
    </tr>
    <tr>
        <th>
            <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
            <span class="input-group-text" id="addon-wrapping"><img src="{% static 'images/lock.png' %}" width="20" height="20"></span>
            </div>
            <input class="form-control" type="password" placeholder="Password" id="t2" name="t2" required aria-label="Username" aria-describedby="addon-wrapping" >
            </div>
        </th>
    </tr>
     <tr>
        <th style="padding-left: 40px">
            <input type="checkbox" class="form-check-input" onclick="show_password()"> Show Password
        </th>
    </tr>
    <tr>
        <th style="text-align: center; padding: 10px">
            <button type="submit" class="btn btn-outline-success"> Login </button> &nbsp;&nbsp;&nbsp;
            <button type="reset" class="btn btn-outline-warning"> Reset </button>
        </th>
    </tr>
    {% if error %}
    <tr>
    <th style="text-align: center; color: red; font-family: 'Times New Roman';font-size: 20px"> {{ error }}</th>
    </tr>
     {% endif %}
    </table>
    </form>
     <br><br><br><br><br><br><br><br><br>

{% endblock %}